<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="user.com.foodexuserui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FoodExLogo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_my_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPassword"
            android:label="@string/title_activity_forget_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TermsConditions"
            android:label="TermsConditions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnterOTP"
            android:label="@string/title_activity_enter_otp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewPassword"
            android:label="@string/title_activity_resend_otp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FoodExHome"
            android:label="@string/title_activity_food_ex_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavigationDrawer"
            android:label="@string/title_activity_drawer_check"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageViewer"
            android:label="@string/title_activity_image_viewer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Plan1"
            android:label="@string/title_activity_plan1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Breakfast"
            android:label="@string/title_activity_breakfast"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lunch"
            android:label="@string/title_activity_lunch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dinner"
            android:label="@string/title_activity_dinner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Plan1DatePicker"
            android:label="@string/title_activity_plan1_date_picker"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Plan2"
            android:label="@string/title_activity_plan3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SampleCart"
            android:label="@string/title_activity_sample_cart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpAddress"
            android:label="@string/title_activity_sign_up_address"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpAddressInfo"
            android:label="@string/title_activity_sign_up_address_info"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeImageViewer"
            android:label="@string/title_activity_home_image_viewer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Fragment1"
            android:label="@string/title_activity_fragment1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavDrawerPages.Logout"
            android:label="@string/title_activity_logout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavDrawerPages.Legal"
            android:label="@string/title_activity_legal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavDrawerPages.MyAccount"
            android:label="@string/title_activity_my_account"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".NavDrawerPages.AboutUs"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavDrawerPages.ContactUs"
            android:label="@string/title_activity_contact_us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NavDrawerPages.MyAddress" />
        <activity
            android:name=".DeliveryAddress"
            android:label="@string/title_activity_delivery_address"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
